body {
    background: #0E0E0E;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

a.btn{
    text-decoration: none;
    /* display: inline-block; */
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(120deg, #FCCF31, #F55555);
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    padding: 15px 40px;
    border: solid 2px;
    border-image: linear-gradient(120deg, #FCCF31, #F55555);
    border-image-slice: 1;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    width: 250px;
    margin-top: 10px;
}

a.btn:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    z-index: -1;
    color: white;
    background: linear-gradient(120deg, #FCCF31, #F55555);
    transition: .8s cubic-bezier(.165, .84, .44, 1);
  }

a.btn:hover {
    background: rgba(255, 255, 255, 0);
    color: #fdfbfb;
    transform: translate(20px);
}